@import "open-props/style";
@import "open-props/normalize";
@import "open-props/buttons";
* {
	box-sizing: border-box;
	position: relative;
}

header {
	width: 100vw;
	height: 60px;
	position: fixed;
	top: 0;
	padding: 0 15px;
	border-bottom: var(--border-size-2) solid var(--red-4);
}
main {
	width: 100vw;
	height: calc(100vh - 60px);
	top: 60px;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: #025;
	}
}
