.hContainer {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.nav {
	height: 40px;
	padding: 0 10px;
	border-radius: 5px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-decoration: none;
	transition: all 200ms;
}
.nav:hover {
	box-shadow: var(--shadow-3);
	transform: translateY(-5px);
}
.nav:visited {
	color: inherit;
}
